#titleOne {
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 70;
    font-weight: bold;
}

#principal {
    background-color: white;
    margin: 10px 10px 10px 10px;
    border: 10px dashed red;
    text-align: center;
    background: burlywood;
}

h1 {
    text-align: center;
    color: brown;
}

img {
    height: 25%;
    width: 25%;
}